/*.ServiceItem{
    display: grid ; 
    grid-template-columns: 1fr 1fr; คอลัมน์ทั้ง 2 ให้เท่ากัน
    column-gap: 16px;
    row-gap: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}*/
/*
img{
    size:10px ;
}*/

.service {
    text-align: center; /* จัดข้อความและเนื้อหาตรงกลาง */
    margin: 20px 0; /* เพิ่มระยะห่างระหว่างด้านบนและด้านล่าง */
  }
  
  .service-item {
    display: inline-block; /* ทำให้แต่ละรายการอยู่เป็นบล็อกในแนวนอน */
    text-align: center; /* จัดเนื้อหาในบล็อกแต่ละรายการตรงกลาง */
    margin: 20px; /* เพิ่มระยะห่างระหว่างแต่ละรายการ */
    width: 250px; /* กำหนดความกว้างให้บล็อกแต่ละรายการ */
    vertical-align: top; /* ทำให้บล็อกแต่ละรายการอยู่ในแนวเดียวกัน */
  }
  
  .service-image {
    width: 20px; /* กำหนดความกว้างให้รูปภาพเป็น 20px */
    height: 20px; /* กำหนดความสูงให้รูปภาพเป็น 20px */
    display: block; /* แสดงรูปภาพเป็นบล็อก */
    margin: 0 auto; /* จัดรูปภาพให้อยู่ตรงกลาง */
  }
  
  h2 {
    font-size: 18px; /* ขนาดตัวอักษรของหัวข้อ */
    margin: 10px 0; /* เพิ่มระยะห่างระหว่างหัวข้อและรูปภาพ */
  }
  
  p {
    font-size: 16px; /* ขนาดตัวอักษรของข้อความ */
    margin: 5px 0; /* เพิ่มระยะห่างระหว่างข้อความ */
  }
  
  ul {
    padding-left: 0; /* ลบการเยื้องด้านซ้ายของรายการ */
    list-style-type: none; /* ลบสัญลักษณ์หน้าแต่ละรายการ */
  }
  
  li {
    font-size: 14px; /* ขนาดตัวอักษรของรายการราคา */
    margin: 5px 0; /* เพิ่มระยะห่างระหว่างรายการราคา */
  }